<!DOCTYPE html>
<html>

  <head>
    <title>My website</title>
  </head>

  <body>
    <header id="menu">
    </header>

    <main id="content">
      {{{@body}}}
    </main>

    <footer id="copyright">
    </footer>
  </body>

</html>
