<article>
  <h1>{{title}}</h1>
  <p>Welcome to your first website! This is where you can start convert your own ideas and dreams into something real. It's your personal place to say what you want and do what you want.</p>
  {{{content}}}
</article>
