    </main>

    <footer id="footer">
      <hr>
      <p>Copyright {{year}} by {{site.title}} — <a href="/admin/login">Login</a></p>
    </footer>

    <script src="/assets/app.js" type="text/javascript"></script>
  </body>
</html>
